administration/Preuves/1_PHASE_N8N_Nov-Dec2025/workflows_json/WIDIP_RAG_Ingest_Clients_v2.json
{
  "name": "WIDIP_RAG_Ingest_Clients_v2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily 02:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.GLPI_URL }}/apirest.php/Computer",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "range",
              "value": "0-999"
            },
            {
              "name": "expand_dropdowns",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "glpi-get-clients",
      "name": "GLPI Get Clients",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "glpi-api-token",
          "name": "GLPI API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Transform GLPI data to our schema\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const client = item.json;\n  \n  // Create client node for Neo4j\n  const clientNode = {\n    client_id: `CLI-${client.id}`,\n    name: client.name,\n    type: client.computertypes_id_name || 'Unknown',\n    location: client.locations_id_name || '',\n    contact_name: client.contact || '',\n    contact_phone: client.contact_num || '',\n    sector: extractSector(client.name),\n    created_at: client.date_creation,\n    updated_at: client.date_mod\n  };\n  \n  // Create text for vector embedding\n  const textForEmbedding = `\nClient: ${client.name}\nType: ${clientNode.type}\nSecteur: ${clientNode.sector}\nLocalisation: ${clientNode.location}\nContact: ${clientNode.contact_name} - ${clientNode.contact_phone}\nID GLPI: ${client.id}\n`.trim();\n  \n  results.push({\n    json: {\n      clientNode,\n      textForEmbedding,\n      metadata: {\n        client_id: clientNode.client_id,\n        doc_type: 'client_info',\n        confidentiality: 'interne',\n        source: 'glpi'\n      }\n    }\n  });\n}\n\nfunction extractSector(name) {\n  const lowerName = name.toLowerCase();\n  if (lowerName.includes('ehpad') || lowerName.includes('maison de retraite')) return 'EHPAD';\n  if (lowerName.includes('clinique') || lowerName.includes('hopital')) return 'Santé';\n  if (lowerName.includes('foyer') || lowerName.includes('residence')) return 'Social';\n  if (lowerName.includes('ime') || lowerName.includes('itep')) return 'Médico-social';\n  return 'Autre';\n}\n\nreturn results;"
      },
      "id": "transform-clients",
      "name": "Transform Clients",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://{{ $env.OLLAMA_HOST }}:11434/api/embeddings",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"bge-m3\",\n  \"prompt\": {{ JSON.stringify($json.textForEmbedding) }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "generate-embeddings",
      "name": "Generate BGE-M3 Embeddings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for Qdrant upsert\nconst items = $input.all();\nconst points = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i].json;\n  const prevItem = $('Transform Clients').all()[i].json;\n  \n  // Extract dense and sparse vectors from BGE-M3 response\n  const embedding = item.embedding;\n  \n  points.push({\n    id: prevItem.metadata.client_id.replace('CLI-', ''),\n    vector: {\n      dense: embedding  // BGE-M3 dense vector (1024 dims)\n    },\n    payload: {\n      text: prevItem.textForEmbedding,\n      ...prevItem.metadata,\n      client_name: prevItem.clientNode.name,\n      sector: prevItem.clientNode.sector\n    }\n  });\n}\n\nreturn [{ json: { points } }];"
      },
      "id": "prepare-qdrant",
      "name": "Prepare Qdrant Points",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://localhost:6333/collections/widip_clients/points",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ points: $json.points }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "qdrant-upsert",
      "name": "Qdrant Upsert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 200]
    },
    {
      "parameters": {
        "jsCode": "// Prepare Cypher queries for Neo4j\nconst items = $('Transform Clients').all();\nconst cypherQueries = [];\n\nfor (const item of items) {\n  const client = item.json.clientNode;\n  \n  // MERGE client node\n  cypherQueries.push({\n    query: `\n      MERGE (c:Client {client_id: $client_id})\n      SET c.name = $name,\n          c.type = $type,\n          c.location = $location,\n          c.contact_name = $contact_name,\n          c.contact_phone = $contact_phone,\n          c.sector = $sector,\n          c.updated_at = datetime()\n      RETURN c\n    `,\n    params: {\n      client_id: client.client_id,\n      name: client.name,\n      type: client.type,\n      location: client.location,\n      contact_name: client.contact_name,\n      contact_phone: client.contact_phone,\n      sector: client.sector\n    }\n  });\n}\n\nreturn cypherQueries.map(q => ({ json: q }));"
      },
      "id": "prepare-neo4j",
      "name": "Prepare Neo4j Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "parameters": "={{ JSON.stringify($json.params) }}"
      },
      "id": "neo4j-upsert",
      "name": "Neo4j Upsert Clients",
      "type": "n8n-nodes-base.neo4j",
      "typeVersion": 1,
      "position": [1500, 400],
      "credentials": {
        "neo4j": {
          "id": "neo4j-widip",
          "name": "Neo4j WIDIP"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1750, 300]
    },
    {
      "parameters": {
        "jsCode": "// Count results and prepare summary\nconst qdrantResults = $('Qdrant Upsert').all();\nconst neo4jResults = $('Neo4j Upsert Clients').all();\n\nconst summary = {\n  timestamp: new Date().toISOString(),\n  workflow: 'WIDIP_RAG_Ingest_Clients_v2',\n  qdrant: {\n    collection: 'widip_clients',\n    points_upserted: qdrantResults.length > 0 ? qdrantResults[0].json.result?.upserted_count || 0 : 0\n  },\n  neo4j: {\n    nodes_created: neo4jResults.length\n  },\n  status: 'success'\n};\n\nreturn [{ json: summary }];"
      },
      "id": "summary",
      "name": "Generate Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 200]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "rag_ingest_clients_last_run",
        "value": "={{ JSON.stringify($json) }}",
        "expireTime": 86400
      },
      "id": "redis-log",
      "name": "Log to Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [2250, 200],
      "credentials": {
        "redis": {
          "id": "redis-widip",
          "name": "Redis WIDIP"
        }
      }
    },
    {
      "parameters": {
        "content": "## WIDIP RAG Ingest Clients v2\n\n### Description\nCe workflow s'exécute quotidiennement à 02:00 pour:\n1. Récupérer les clients depuis GLPI\n2. Générer des embeddings BGE-M3 (dense + sparse)\n3. Indexer dans Qdrant (collection: widip_clients)\n4. Créer/mettre à jour les nodes dans Neo4j (GraphRAG)\n\n### Prérequis\n- RAG Service démarré (port 8000)\n- Qdrant démarré (port 6333)\n- Neo4j démarré (port 7687)\n- Ollama avec modèle bge-m3 chargé\n\n### Collections\n- Qdrant: widip_clients\n- Neo4j: Label :Client",
        "height": 400,
        "width": 350
      },
      "id": "sticky-note",
      "name": "Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [250, 500]
    },
    {
      "parameters": {
        "errorMessage": "={{ $json.error || 'Ingestion failed' }}"
      },
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [2000, 400]
    }
  ],
  "connections": {
    "Daily 02:00": {
      "main": [
        [
          {
            "node": "GLPI Get Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GLPI Get Clients": {
      "main": [
        [
          {
            "node": "Transform Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Clients": {
      "main": [
        [
          {
            "node": "Generate BGE-M3 Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate BGE-M3 Embeddings": {
      "main": [
        [
          {
            "node": "Prepare Qdrant Points",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Neo4j Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Qdrant Points": {
      "main": [
        [
          {
            "node": "Qdrant Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Neo4j Queries": {
      "main": [
        [
          {
            "node": "Neo4j Upsert Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Upsert": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neo4j Upsert Clients": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Generate Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary": {
      "main": [
        [
          {
            "node": "Log to Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "widip-rag-ingest-clients"
  },
  "pinData": {},
  "tags": [
    {
      "name": "RAG",
      "createdAt": "2025-12-10T00:00:00.000Z",
      "updatedAt": "2025-12-10T00:00:00.000Z"
    },
    {
      "name": "Ingestion",
      "createdAt": "2025-12-10T00:00:00.000Z",
      "updatedAt": "2025-12-10T00:00:00.000Z"
    }
  ]
}
